.footer {
  background-color: #f07c25;
  text-align: center;
  padding: 20px;
  width: 100%;
  min-height: 20px;
}

.paragrafo {
  color: #fff;
  font-size: 16px;
  margin: 0;
  font-family: 'Arial', sans-serif;
}
