.heder {
    background-color: #1e1f30;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.logo {
    max-width: 400px;
    max-width: 400px;
    border-radius: 50%;
    color:#f07c25;    

}
.logo:hover{
    color: #ffffff;
    font-size: larger;
}

.menu {
    display: flex;
    gap: 20px;
    text-decoration: none;
}
.menu a {
    color: #f07c25;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}
.menu a:hover {
    color: #ffffff;
}
.button button {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    background-color: #f07c25;
    color: #0d0c0f;
    border: none;
    cursor: pointer;
}
.button button:hover {
    background-color: #ffffff;
}



@media (max-width: 580px) {
    .header {
        height: 45px; /* Diminui ainda mais a altura do cabeçalho */
        padding: 0 5px; /* Reduz mais o padding */
    }

    .logo {
        max-width: 120px; /* A logo fica ainda menor */
        font-size: 14px; /* Font menor para a logo */
    }

    .menu {
        flex-direction: column; /* Muda o menu para uma coluna */
        gap: 10px; /* Menos espaço entre os itens do menu */
        text-align: center; /* Alinha o texto ao centro */
    }

    .menu a {
        font-size: 12px; /* Tamanho de fonte ainda menor para os links */
    }

    .button button {
        width: 80px; /* Botão menor */
        height: 20px; /* Botão ainda mais baixo */
    }
}
